.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  border: 1px solid rgba(255, 255, 255, 0.18);
  padding-bottom: 15px;

  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 10px;
  transition: 0.3s;
}
.cards:hover,
.cards:active {
  box-shadow: 0 0 10px 0 var(--pure-blue);
  background: rgba(0, 248, 248, 0.089);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.cards img {
  width: 100%;
  height: 100%;
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 5px 5px 0 0;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.buy {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--pure-blue);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.add {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: 0.3s;
}
.add img {
  width: 20px;
  height: 20px;
}
.buy:active {
  transform: scale(0.9);
}
.buy:hover {
  box-shadow: 0 0 10px 0 var(--pure-blue);
  background-color: #000000;
}
.add:hover {
  box-shadow: 0 0 10px 0 var(--pure-blue);
}
.add:active {
  transform: scale(0.9);
}
/* Estilos para la vista previa de la imagen */
.image-preview {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  width: 80%;
  height: 90%;

  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1000;
}

.hiddenPreview {
  display: none;
}

.openPreview {
  display: flex;
  animation: openPreview 0.3s;
}

.backdrop {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.image-preview img {
  width: 98%;
  height: 98%;
  border-radius: 10px;
}

.closePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;

  background-color: #000000d2;
  box-shadow: inset 0 0 0 2px #ffffff;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  top: 8px;
  right: 15px;
  z-index: 1000;
}
.closePreview:hover {
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: inset 0 0 0 2px #000000;

  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transform: scale(1.1);
}
.closePreview:active {
  transform: scale(0.9);
}

@keyframes openPreview {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}
