/* Estilos para la barra de navegación */

.menuLong {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 50px;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 50%;
  transition: 0.3s;
  padding: 3px;
  margin: 0;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
}
.logo:active {
  transform: scale(0.9);
}

.menuLong menu {
  display: flex;
  list-style: none;
  gap: 10px;
}

.menuLong menu a {
  text-decoration: none;
  color: white;
}

.menuLong menu li {
  display: flex;
  align-items: center;
  justify-content: start;

  box-shadow: inset 0 0 0 2px white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.menuLong menu li:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
}
.menuLong menu li:active {
  transform: scale(0.9);
}

.menuLong menu li:hover a {
  color: black;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.account svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 10px;
  stroke: white;
  transition: all 0.3s;
}
.account svg:hover {
  cursor: pointer;
  transform: scale(1.1);
  stroke: black;
  background-color: rgb(255, 255, 255);
}
.account svg:active {
  transform: scale(0.9);
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Se necesita para posicionar el contador relativo a este contenedor */
}

.count {
  position: absolute; /* Posicionamiento absoluto con respecto al contenedor padre */
  top: -15px; /* Ajusta la posición verticalmente según necesites */
  right: -5px; /* Ajusta la posición horizontalmente según necesites */
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.menuShort {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.menuShort svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 10px;
  stroke: white;
  transition: 0.3s;
}
.menuShort svg:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  stroke: black;
}

.menuShort svg:active {
  transform: scale(0.9);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1000;
  animation: openMenu 0.3s;
}

.hidden {
  display: none;
}
.list li {
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 5px;
  animation: opneMenu 0.3s;
}
.list li:first-child {
  animation-delay: 0s;
}
.list li:nth-child(2) {
  animation-delay: 1s;
}
.list li:nth-child(3) {
  animation-delay: 2s;
}
.list li a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 5px;
}
.list li:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.list li:hover a {
  color: black;
}
.list li:active {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .menuLong menu {
    display: none;
  }
  .menuShort {
    display: flex;
    justify-content: space-between;
  }
}

@keyframes openMenu {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
